html    {
    font-size: 12px; 
    font-family: "Fira Sans"; 
    background-color: #ebf1eb ;

}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 20px;
    color: #FF0000;

}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 20px;
    color: #FF0000;
    text-shadow: 3px 3px 1px rgb(249, 245, 248);
}

a {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

.A {
    font-size: 10px

}
body {
    width: 800px;
    margin: 0 auto;
    background-color: #FF7F50;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    
}
